/* General Styles/Shared Styles */

body {
    margin: 0;
    display: block;
    background-color: #777;
}

/* Header Styles */

.header, .links {
    background-color: black;
    display: flex;
}

.links>a {
    background-color: black;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-right: 1px solid white;
}

.links>a:hover {
    color: black;
    background-color: white;
}

/* Content Styles */

.content {
    margin: 0px 10px;
}